/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main-family: 'Inter', sans-serif;
    --font-accent-family: 'PressStart2P', fantasy;
    --heart-color: #ff0000;
}
  